@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
}
.bg-header{
    background-color: #264653;
}
.orange{
    color: #E76F51;
}
.btn-orange{
    background-color: #E76F51;;
}
.img-gray{
    filter: grayscale(100%);
}
.client-name{
    color: #23A6F0;
}
.bg-footer{
    background-color: #0B0D17;
}